.p1{
    font-size: 40px;
    color: darkorange;
}
.p2{
    font-size: 40px;
    color: darkorange;
}
h1{
    text-align: center;
    color: darkorange;
}
.table1{
    position: relative;
    left: 30%;
}
body{
   background-color: gray;
}
.top{
    text-align: center;
    color: aquamarine;
}